/**==========================================================================*/
/*Header style */
/**==========================================================================*/

header {
    background: url("/img/header-bg.png") no-repeat center/cover;
    width: 100%;
    /*padding: 10px 0 70px 0;*/
    padding: 20px 0 30px 0;
    color: #ffffff;
}

header h1 {
    color: #ffffff;
    font-size: 66px;
    font-weight: 700;
    line-height: 98px;
}

header .menu-section .menu-wrap {
    float: right;
}

header .menu-section .menu-item {
    display: block;
    float: left;
    margin-right: 20px;
    padding-top: 40px;
}

header .menu-section .profile {
    padding-top: 0;
}

header .menu-section .menu-item:last-child {
    margin-right: 0;
}

header .menu-section .menu-item a {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ffffff;
    color: #000000;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease;
}

header .menu-section .menu-item a:hover {
    opacity: 0.8;
}

header .menu-section .menu-item .search {
    background: url("../../img/search.png") no-repeat;
}

header .menu-section .menu-item .message {
    background: url("../../img/email.png") no-repeat;
}

header .menu-section .menu-item .profile-face {
    width: 72px;
    height: 72px;
    border-radius: 50%;
}

header .menu-section .menu-item .profile-face img {
    width: 100%;
    height: auto;
}

header .menu-section .menu-item .menu {
    background: url("../../img/menu.png") no-repeat;
}

header .card-wrapper img {
    width: 100%;
}

header .social-card-section {
    /*margin-top: 125px;*/
    margin-top: 50px;
}

.social-links-section {
    /*margin-top: 145px;*/
    margin-top: 50px;
}

.social-links-section .link-item {
    float: left;
}

.social-links-section .links-wrapper {
    display: block;
    margin: 0 auto;
    width: 200px;
}

.social-links-section .links-wrapper li {
    margin-right: 45px;
}

.social-links-section .links-wrapper li:last-child {
    margin-right: 0;
}

.social-links-section .link-item a {
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
    text-align: center;
    line-height: 35px;
    font-size: 22px;
    transition: all 0.3s ease;
}

.social-links-section .link-item a:hover {
    opacity: 0.8;
}

/* header dropDown menu style */

/*header .dropdown button {*/
    /*display: inline-block;*/
    /*width: 30px;*/
    /*height: 30px;*/
    /*border-radius: 50%;*/
    /*background-color: #ffffff;*/
    /*color: #000000;*/
    /*line-height: 30px;*/
    /*text-align: center;*/
    /*text-decoration: none;*/
    /*transition: all 0.3s ease;*/
    /*border: none;*/
/*}*/

/*header .dropdown button:hover {*/
    /*opacity: 0.8;*/
/*}*/

/*header .dropdown .btn::before {*/
    /*position: absolute;*/
    /*top: 1px;*/
    /*left: 9px;*/
/*}*/

/*header .dropdown .dropdown-menu {*/
    /*left: -125px;*/
    /*top: 150%;*/
/*}*/

/*header .dropdown .caret {*/
    /*display: none;*/
/*}*/


header .menu-item div {
    /*height: 0;*/
    /*overflow: hidden;*/
    /*position: absolute;*/
    /*z-index: 5000;*/
    /*box-sizing: border-box;*/
    /*top: 100px;*/
    /*right: 0;*/
    /*width: 300px;*/
    /*transition: height 0.4s;*/
}

header .menu-item .show  {
    background: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
    overflow: hidden;
    position: absolute;
    z-index: 5000;
    box-sizing: border-box;
    top: 100px;
    right: 10px;
    width: 300px;
    height: 300px;
    color: #555;
    transition: height 0.4s;
}

header .menu-item .hide {
    display: none;
}