/* HEADER MEDIA */

@media (max-width: 1250px) {
    header h1 {
        font-size: 58px;
        line-height: 79px;
    }
}

@media (max-width: 1001px) {
    header h1 {
        font-size: 55px;
        line-height: 74px;
    }
}

@media (max-width: 992px) {
    header .card-wrapper {
        margin-top: 45px;
    }
    header .card-wrapper img {
        display: block;
        width: 80%;
        margin: 0 auto;
    }
    header h1 {
        text-align: center;
    }
}

@media (max-width: 500px) {
    header h1 {
        font-size: 70px;
        line-height: 90px;
    }
}