//OPEN BUTTON
.button-wrap {
    position: relative;
    max-width: 380px;
    margin: 0 auto;
    height: 70px;
    padding-left: 65px;
    border-radius: 10px;
    background: url('../images/airoplane.png') no-repeat 5px 10px;
    line-height: 70px;
    .open-button {
        position: absolute;
        top: 0;
        right: 0;
        height: 70px;
        width: 220px;
        padding-left: 80px;
        border-radius: 10px;
        cursor: pointer;
        span {
            position: relative;
            &:before {
                content: '';
                position: absolute;
                top: -16px;
                left: -70px;
                display: block;
                width: 55px;
                height: 50px;
                background: url("../images/scheduled.png") no-repeat;
            }
        }
    }
}
// CLOSE BUTTON
.close-button-wrapper {
    padding-top: 20px;
    .close-button {
        width: 35px;
        height: 30px;
        margin: 0 auto;
        cursor: pointer;
        background: url("../images/arrow-bottom.png") no-repeat center;
    }
}

// ADD AND DEL BUTTONS

.buttons-wrapper {
    padding: 0 20px;
    margin-bottom: 10px;
    .add-button-wrap {
        float: left;
        cursor: pointer;
        .add-button {
            float: left;
            width: 50px;
            height: 50px;
            padding: 7px;
            border-radius: 50%;
            box-shadow: 0 3px 6px $main_color;
            &:hover {
                .second-circle {
                    border-color: $main_third_color;
                    @include transition(all, .5s, ease);
                }
                .add {
                    color: $main_third_color;
                    @include transition(all, .5s, ease);
                }
            }
            .second-circle {
                border-radius: 50%;
                height: 100%;
                width: 100%;
                border: 1px solid $main_color;
                span {
                    display: block;
                    line-height: 36px;
                    text-align: center;
                    font-size: 30px;
                    font-weight: 100;
                    color: $main_color;
                }
            }
        }
        .text {
            float: left;
            line-height: 50px;
            margin-left: 10px;
            font-size: 26px;
            font-weight: 100;
            color: $main_color;
        }
    }
    .del-button-wrap {
        float: right;
        cursor: pointer;
        .del-button {
            float: right;
            width: 50px;
            height: 50px;
            padding: 7px;
            border-radius: 50%;
            box-shadow: 0 3px 6px $main_color;
            &:hover {
                .second-circle {
                    border-color: $main_third_color;
                    @include transition(all, .5s, ease);
                }
                .del {
                    color: $main_third_color;
                    @include transition(all, .5s, ease);
                }
            }
            .second-circle {
                border-radius: 50%;
                height: 100%;
                width: 100%;
                border: 1px solid $main_color;
                span {
                    display: block;
                    line-height: 36px;
                    text-align: center;
                    font-size: 30px;
                    font-weight: 100;
                    color: $main_color;
                }
            }
        }
        .text {
            float: right;
            line-height: 50px;
            margin-right: 10px;
            font-size: 26px;
            font-weight: 100;
            color: #95989a;
        }
    }
}